@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pizzeria - Home</h1>
    <h3>Our Pizza Options</h3>
    <p>We have a wide selection of pizza combinations. You can choose Meat lovers, BBQ,
    Taco, Vegetarian, Breakfast, or cheese. You can also customize your pizza. You can
    choose from a wide variety of toppings, cheeses, and crusts. If you are hungry 
    ORDER NOW. We will not disappoint.</p>
    <h3>About Us</h3>
    <p>We’ve been in the pizza making business for a long time. We’ve been on main street
    since 1898. We were founded by Mama Linguini, the best pizza maker in history. We try
    to live up to her legacy by making the best quality pizza. We oven roast most of our
    pizzas to give them that authentic taste. We are dedicated to satisfying your taste
    buds. We have five stars on yelp. We want to be your favorite pizza place!</p>
</div>
