@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    p {
        padding: 40px;
        border: 20px solid darkred;
    }

    form {
        padding: 50px;
        border: 20px solid darkred;
    }

    button {
        padding: 10px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        margin: 5px;
    }

    .container {
        margin: 5px;
    }

    .Pizza {
        grid-column: 1 / span 2;
    }

    .Cost {
        float: right;
    }
</style>
​​<form class="text-center" method="post" asp-controller="Home" asp-action="orderPage">
    <div class="text-center">
        <h1>Pick a Pizza</h1>
        <div class="grid-container">


            <div class="grid-child Pizza">
                <p> Meat Lovers Pizza: It's got all the meat in the world, cat, rat, dog, horse, fox, bear, fish, if you can name it its on it </p>
            </div> <!--Pizza end -->

            <div class="grid-child Cost">
                <p>
                    <input type="radio" class="pizzaname" name="pizzaname" value="Meat Lovers" onclick="hideclick()">
                    
                </p>
                <!--add code here for counter -->
            </div> <!--Cost and counter end -->

            <div class="grid-child Pizza">
                <p> Vegan Pizza: A pizza for those that hate the Meat Lovers Pizza</p>
            </div> <!--Pizza end -->

            <div class="grid-child Cost">
                <p>
                    <input type="radio" class="pizzaname" name="pizzaname" value="Vegan" onclick="hideclick()">
                </p>
                <!--add code here for counter -->
            </div> <!--Cost and counter end -->

            <div class="grid-child Pizza">
                <p> Taco Pizza: A pizza that has all the tasty parts of a taco</p>
            </div> <!--Pizza end -->

            <div class="grid-child Cost">
                <p>
                    <input type="radio" class="pizzaname" name="pizzaname" value="Taco" onclick="hideclick()">
                </p>
                <!--add code here for counter -->
            </div> <!--Cost and counter end -->

            <div class="grid-child Pizza">
                <p> Breakfast Pizza: Egg, bacon, and gravy is what makes this masterpiece</p>
            </div> <!--Pizza end -->

            <div class="grid-child Cost">
                <p>
                    <input type="radio" class="pizzaname" name="pizzaname" value="Breakfast" onclick="hideclick()">
                </p>
            </div> <!--Cost end -->


        </div>
    </div>
    <script>
        function hideclick() {
            var checkbox = document.getElementById("Cus");
            var hide = document.getElementById("hide");
            if (checkbox.checked == true) {
                hide.style.display = "block";

            } else {
                hide.style.display = "none";
            }
        }
    </script>
    <h2>Pizza size</h2>

    <input type="radio" id="small" name="pizzasize" value="small">
    <label for="small">Small</label>
    <input type="radio" id="medium" name="pizzasize" value="medium">
    <label for="medium">Medium</label>
    <input type="radio" id="Large" name="pizzasize" value="Large">
    <label for="large">Large</label>

    <!--Checkbox to make form appear and disappear here-->
    <h2>Or, try a customized pizza: </h2>
    <br />
    <input type="radio" id="Cus" name="pizzaname" value="Custom" onclick="hideclick()">
    <label for="Cus">Click here for custom pizzas</label>



    <div runat="server" id="hide" style="display:none">

        <h1>CUSTOMIZE PIZZA</h1>



        <h2>Cheese</h2>

        <input type="radio" name="cheese" value="Mozzarella">
        <label for="Mozzarella">Mozzarella</label>
        <input type="radio" name="cheese" value="Cheddar">
        <label for="Cheddar">Cheddar</label>
        <input type="radio" name="cheese" value="Swiss">
        <label for="Swiss">Swiss</label>

        <h2>Crust</h2>

        <input type="radio" name="crust" value="Thin">
        <label for="Thin">Thin</label>
        <input type="radio" name="crust" value="Thick">
        <label for="Thick">Thick</label>
        <input type="radio" name="crust" value="Stuffed">
        <label for="Stuffed">Stuffed ($1 extra)</label>

        <h2>Toppings ($1 each)</h2>



        <input type="checkbox" id="Top2" name="Top2" value="Sausage">
        <label for="Top2">Sausage</label><br>

        <input type="checkbox" id="Top3" name="Top3" value="Pepperoni">
        <label for="Top3">Pepperoni</label><br>

        <input type="checkbox" id="Top4" name="Top4" value="Olives">
        <label for="Top4">Olives</label><br>

        <input type="checkbox" id="Top5" name="Top5" value="BellPeppers">
        <label for="Top5">Bell Peppers</label><br>

        <input type="checkbox" id="Top6" name="Top6" value="Mushrooms">
        <label for="Top6">Mushrooms</label><br>

        <input type="checkbox" id="Top7" name="Top7" value="Doritos">
        <label for="Top7">Doritos(Nacho)</label><br>

        <input type="checkbox" id="Top8" name="Top8" value="Pickles">
        <label for="Top8">Pickles</label><br>

        <input type="checkbox" id="Top9" name="Top9" value="Anchovies">
        <label for="Top9">Anchovies</label><br>

        <input type="checkbox" id="Top10" name="Top10" value="Bacon">
        <label for="Top10">Bacon</label><br>

        <input type="checkbox" id="Top11" name="Top11" value="BanaPeppers">
        <label for="Top11">Banana Peppers</label><br>

        <input type="checkbox" id="Top12" name="Top12" value="CanadBacon">
        <label for="Top12">Canadian Bacon</label><br>

        <input type="checkbox" id="Top13" name="Top13" value="SunTomato">
        <label for="Top13">Sun-dried Tomatos</label><br>

        <input type="checkbox" id="Top14" name="Top14" value="Steak">
        <label for="Top14">Steak</label><br>

        <input type="checkbox" id="Top15" name="Top15" value="Onions">
        <label for="Top15">Onions</label><br>

        <input type="checkbox" id="Top16" name="Top16" value="Jalapenos">
        <label for="Top16">Jalapenos</label><br>

        <input type="checkbox" id="Top17" name="Top17" value="Spinach">
        <label for="Top17">Spinach</label><br>

        <input type="checkbox" id="Top18" name="Top18" value="Chicken">
        <label for="Top18">Chicken</label><br>

        <!--Make it so all checkboxs clear on button submit-->

    </div>
    <br />
    <input type="submit" value="Add pizza to order"/>
</form>


